*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; // 1rem = 10 px ==> 10px/16px = 62.5%;

  //900px
  @media (max-width: 56.25em) {
    font-size: 50%;
  }
}

body {
  box-sizing: border-box;
  font-family: 'Space Mono', monospace;
  line-height: 1.4;
  font-weight: 400;
  min-height: 100vh;
  padding: 4rem;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  //900px
  @media (max-width: 56.25em) {
    padding: 2rem;
  }
}

.title {
  font-family: 'Inconsolata', monospace;
  font-size: 2.4rem;

  margin-bottom: 8rem;

  @media (max-width: 45em) {
    //720px
    margin-bottom: 4rem;
  }
}

.main {
  display: flex;

  @media (max-width: 45em) {
    //720px
    flex-direction: column;
  }

  & > * {
    flex: 1;
    padding: 5rem;

    // @media (max-width: 45em) {
    //   //720px
    //   padding: 2rem;
    // }

    @media (max-width: 25em) {
      padding: 0;
    }
  }
}

// .img-container {
// }

.hero {
  width: 100%;
  display: block;
}

.message {
  h2 {
    font-family: inherit;
    font-weight: 700;
    // font-size: 4rem;
    font-size: 6rem;

    //1200px
    @media (max-width: 75em) {
      font-size: 4rem;
    }

    margin-bottom: 2rem;
  }

  p {
    font-family: inherit;
    // font-size: 2rem;
    font-size: 2.4rem;
    line-height: 1.4;
    color: #4f4f4f;
    margin-bottom: 4rem;

    //1200px
    @media (max-width: 75em) {
      font-size: 2rem;
    }
  }

  a {
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 1.4;
    letter-spacing: -0.035em;
    padding: 2rem 4rem;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #333333;
    text-decoration: none;
    display: inline-block;
    align-self: start;

    @media (max-width: 45em) {
      //720px
      padding: 1rem 2em;
    }
  }
}

footer {
  display: flex;
  justify-content: center;
  margin-top: 4rem;
  p {
    font-size: 1.4rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: #bdbdbd;
  }
}
